body{

margin:0;
background:black;
color:white;
text-align:center;
font-family:Arial;
overflow:hidden;

}

canvas{

position:fixed;
top:0;
left:0;
z-index:-1;

}

/* center layout */

.center{

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;

}

/* dp */

.dp{

width:180px;
height:180px;
border-radius:50%;

}

/* glowing ring */

.dpRing{

padding:8px;
border-radius:50%;

background:linear-gradient(
45deg,
cyan,
magenta,
yellow,
cyan
);

animation:ring 4s linear infinite;

}

@keyframes ring{

0%{box-shadow:0 0 10px cyan}
50%{box-shadow:0 0 40px magenta}
100%{box-shadow:0 0 10px cyan}

}

/* animated name */

.name{

font-size:65px;

background:linear-gradient(
90deg,
cyan,
magenta,
yellow,
lime,
orange,
cyan
);

background-size:400%;

-webkit-background-clip:text;

color:transparent;

animation:rainbow 6s linear infinite;

margin-top:20px;

}

@keyframes rainbow{

0%{background-position:0%}
100%{background-position:400%}

}

/* bio */

.bio{

font-size:22px;
margin-top:20px;
line-height:35px;

background:linear-gradient(
90deg,
cyan,
magenta,
yellow,
lime,
orange
);

background-size:400%;

-webkit-background-clip:text;

color:transparent;

animation:rainbow 8s linear infinite;

}

/* buttons */

.btn{

margin-top:30px;

padding:15px 45px;

border:none;
border-radius:30px;

font-size:18px;

background:linear-gradient(
45deg,
cyan,
magenta,
cyan
);

color:white;

box-shadow:

0 0 20px cyan,
0 0 40px magenta;

transition:0.3s;

}

.btn:hover{

transform:scale(1.1);

box-shadow:

0 0 30px cyan,
0 0 60px magenta;

}
